version: '3.8'
services:
  db:
    image: mysql
    container_name: pnbdb
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: pnb
